
.primary-md {
    background: linear-gradient(60deg, #ab47bc, #8e24aa) !important;
    color: azure !important;
}

.info-md {
    background: linear-gradient(74deg, #13d3ebe3, #31abbbfa) !important;
    color: azure !important;
}
.info-md-sd {
    background: linear-gradient(60deg, #edeeee, #55b5c2) !important;
    color: azure !important;
}
.c-info-md{
    color: #0f738f !important;
}
.btn.c-info-md:hover {
    color: #8ACCDE !important;
}
.btn-danger{
    background: linear-gradient(74deg, #f32912, #ef9090fa) !important;
    color: azure !important;
}
.btn-limpiar{
    background: linear-gradient(247deg, #00ffff, #16a379) !important;
    color: azure !important;
}
/* .nav a:hover {
    color: #007BFF !important;
    text-decoration: underline !important;
} */
.nav a {
    color:white !important; /* Color del texto normal */
    text-decoration: none  !important; /* Sin subrayado */
    cursor: pointer  !important; /* Cambia el cursor a un puntero */
    padding: 10px  !important; /* Espaciado interno */
    transition: color 0.15s ease  !important; /* Transición suave para el color */
}

.nav a:hover {
    color: #2aaabe  !important; /* Color del texto al pasar el mouse */
    text-shadow: #000507 !important; /* Subrayado al pasar el mouse */
    background: rgba(42, 170, 190, 0.2) !important;
}
.nav-pills .nav-link{
    color:white !important;
}
.letra-th{
    font-size: 14px !important;
    font-weight: 100  !important;
}
.btn-danger{
    background-color: darkred !important;
}
/* .card-icon{
    padding-top: 10px !important;
    padding-bottom: 2px !important;
    padding-right: 2px!important;
    background:#8ACCDE !important;
}
.card-icon i{
    color: white !important;
} */
.card-header button{
    background: linear-gradient(74deg, #234d53e3, #bcdee2fa) !important;
    color: white !important;
}
.card-header button:hover{
    background: linear-gradient(74deg, #043541e3, #7cdbe7fa) !important;
    color: white !important;
}
.form .btn-danger {
    background: red !important; /* Cambia el fondo a rojo */
    border-color: red !important; /* Cambia el borde a rojo también */
}

.form .btn-danger:hover {
    background: darkred !important; /* Cambia el fondo al pasar el mouse */
    border-color: darkred !important; /* Cambia el borde al pasar el mouse */
}
.border-radius{
    border-radius: 4rem!important;
}
.modal-content {
    box-shadow: 0 .5rem 1rem rgba(250, 246, 246, 0.986);
    border-radius: 4rem!important;
    /* background: rgba(250, 246, 246, 0.986); */
}
